@charset "UTF-8";



/* Formatacao geral do site */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('imagens/fundodosite.jpg');
    color: white;
    margin: 0px;
    
}
p {
    text-shadow: 1px 1px 2px black;
    font-size: 13pt;
}

/* Formatacao do cabecalho */

header {
    background-image: url("imagens/logo.png") no-repeat ;
    background-color: #00000096;
    text-align: center;
    height: 170px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.514);
}
.logo {
    margin-top: 20px;
    display: inline-block;
    margin-bottom: -10px;
}
header > h3 {
    color: rgb(255, 255, 255);
   font-size: 10pt;
    padding: 12px;
    margin: auto;
    
    width: 290px;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.658);
    
}
header > h1 {
    margin-bottom: 0px;
    font-weight: bolder;
    font-size: normal;
}

/* formatacao do menu de navegacao */

nav {
    float: right;
    margin: auto; 
    margin-top: -23px;
    margin-right: 20px;
}
a { 
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.39);
    background-color: rgba(7, 80, 102, 0.233);
    margin: 0px 2px;
    font-size: small;
}
a:hover {
    background-color: #ff00008f;
}

/* Formatacao do corpo */

main {
    
    background-image: url('imagens/fundocaro.jpg') ;
    max-width: 800px;
    min-width: 150px;
    padding: 5px;
    margin: auto;
    margin-top: px;
    box-shadow: 3px 3px 4px rgba(2, 11, 92, 0.747);
}

/* Formatacao da seccao */

section {
    display: block;
    background-image: linear-gradient( to bottom, #0000008c, #b40808a6,#0000008c
    );
    max-width: 700px;
    min-width: 150px;
    padding: 10px;
    text-align: justify;
    border-right: 2px solid white;
    margin: auto;
    border-top: 1px solid yellow;
}
section > img {
    margin-left: 20px;
    margin-bottom: -20px;
}
div > h2 {
    color: rgb(255, 196, 2);
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.466);
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    text-shadow: 1px 0px 4px rgba(63, 142, 216, 0.377); 
}

section > p {
    text-indent: 20px;
    margin-top: px;
    margin-bottom: 5px;
    margin-top: -20px; 
    text-indent: 20px;
}


li {
    padding: 10px 0px 0px 0px;
    list-style: none;
    text-shadow: 1px 1px 2px black;
    font-size: 14pt;
    margin-left: 10px;
}

div > img {
    margin: auto;
}

div > p {
    margin: -20px 0px -10px 30px;
    padding: 15px;
}

/* formatacao das dives */

#batechapa {
    
    background-color: #050a5750;
    max-width: 700px;
    min-width: 150px;
    padding: 10px;
    text-align: justify;
    border-right: 2px solid white;
    margin: auto; 
    border-bottom: 1px solid white;
}

#reboque {
    
    background-image: linear-gradient(to bottom, #050a5750, rgba(77, 2, 2, 0.753) );
    max-width: 700px;
    min-width: 150px;
    padding: 10px;
    text-align: justify;
    border-right: 2px solid white;
    margin: auto;
    border-bottom: 1px solid white;
}
#acessorios {
    
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.082), #4905057a);
    max-width: 700px;
    min-width: 150px;
    padding: 10px;
    text-align: justify;
    border-right: 2px solid white;
    margin: auto;
}
#parque {
    background-image: linear-gradient(to bottom, #85630627, #1075af36);
    max-width: 700px;
    min-width: 150px;
    padding: 10px;
    text-align: justify;
    border-right: 2px solid white;
    margin: auto;
}
#venda {
    
    background-image: linear-gradient(to bottom, #5c0505, #85630627);
    max-width: 700px;
    min-width: 150px;
    padding: 10px;
    text-align: justify;
    border-right: 2px solid rgb(255, 255, 255);
    margin: auto;
}

#som {
    display: block;
    background-image: linear-gradient(to bottom, #0d055027, #490505);
    max-width: 700px;
    min-width: 150px;
    padding: 10px;
    text-align: justify;
    border-right: 2px solid white;
    margin: auto;
}
#alarme {
    display: block;
    background-image: linear-gradient(to bottom, #490505, rgba(6, 57, 99, 0.342));
    max-width: 700px;
    min-width: 150px;
    padding: 10px;
    text-align: justify;
    border-right: 2px solid white;
    margin: auto;
}
#eletrecidade {
    display: block;
    background-image: linear-gradient( to bottom,  #05175277,#00000000
    );
    max-width: 700px;
    min-width: 150px;
    padding: 10px;
    text-align: justify;
    border-right: 2px solid white;
    margin: auto;
}
#scrap {
    display: block;
    background-image: linear-gradient( to bottom,  #05175277,#b803032d
    );
    max-width: 700px;
    min-width: 150px;
    padding: 10px;
    text-align: justify;
    border-right: 2px solid white;
    margin: auto;
}
#mecanica {
    display: block;
    background-image: linear-gradient( to bottom,  #b40808,#0000008c
    );
    max-width: 700px;
    min-width: 150px;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    text-align: justify;
    border-right: 2px solid white;
    margin: auto;
}
#fibragem {
    display: block;
    background-image: linear-gradient( to bottom,  #b803032d,#ad0e0e9a
    );
    max-width: 700px;
    min-width: 150px;
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
    text-align: justify;
    border-right: 2px solid white;
    margin: auto;
}
/*  formatacao sobre nos */
h3 {
    color: rgb(0, 243, 243);
}
aside {
    background-image: linear-gradient(to bottom, black, rgba(255, 0, 0, 0.39), black);
    padding: 5px 20px;
    margin: 0px 20px;
    border-radius: 10px;
}
.promo {
    background-color: rgba(114, 78, 11, 0.651);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    min-width: 100px;
    margin: auto;
}
/* Formatacao do rodape */
.topo {
    text-align: right;
    
    background-color: rgba(0, 0, 255, 0.808);
    width: 116px;
}

footer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0px;
}
footer > p {
    font-size: 10pt;
    padding: 3px;
}

